.wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
kendo-tabstrip {
  width: 100%;
  overflow: hidden; /* Disabilita lo scorrimento */
  height: 90%;
}


kendo-tabstrip-tab {
  overflow: hidden; /* Disabilita lo scorrimento nei singoli tab */
}

.content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 4em;
  font-weight: lighter;
}
h2 > span {
  padding-left: 5px;
  font-size: 0.3em;
  vertical-align: top;
}

.customer-info{
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
