<lgc-loading *ngIf="isLoading"></lgc-loading>

<div *ngIf="!isLoading" class="detailHeader">
    <span><b>Versione</b>: {{ gridDataLicence.version }}</span>
    <span><b>HDD Serial</b>: {{ gridDataLicence.hddSerial }}</span>
    <span><b>Proto Serial</b>: {{ gridDataLicence.protoSerial }}</span>
    <span><b>Data di scadenza</b>: {{ gridDataLicence.expiryDate }}</span>
</div>


<!-- Componente delle LicenceItem con Type = 1 -->

 <div class = "container">


  <app-programs [licenseType0] = "licenceType0">
  </app-programs>

  <app-functions [licenseType1] = "licenceType1">
  </app-functions>
</div>
