<div class="detailHeader">
    <span><b>Versione</b>: {{ gridDataLicence.version }}</span>
    <span><b>HDD Serial</b>: {{ gridDataLicence.hddSerial }}</span>
    <span><b>Proto Serial</b>: {{ gridDataLicence.protoSerial }}</span>
    <span><b>Data di scadenza</b>: {{ gridDataLicence.expiryDate }}</span>
</div>


    <kendo-grid
        [data]="gridDataLicence.items">
        <kendo-grid-column field="type" title="Type" [sortable]="true" [hidden]="true"></kendo-grid-column>
        <kendo-grid-column field="name" title="Name"></kendo-grid-column>
        <kendo-grid-column field="nr" title="Numero"></kendo-grid-column>
        <kendo-grid-column field="enabled" title="Abilitato"></kendo-grid-column>
        <kendo-grid-column field="isExpired" title="Scaduta"></kendo-grid-column>
        <kendo-grid-column field="expiryDate" title="Data di scadenza"></kendo-grid-column>
    </kendo-grid>


<!--
-id, tutti i campi singoli (fuori)
-tutto l' array di items (va messo nella tabella)
-->
