<!-- Bottone per aprire la finestra -->
<div id="bottoneAggiungi">
  <lgc-commonbutton
    ButtonType="newLogica"
    (click)="openDialog()"
    ButtonText="Aggiungi Informazione" ButtonSize="lg">
  </lgc-commonbutton>
</div>

<!-- title="Inserire nuova AdditionalInfo"
  *ngIf="opened"
  (close)="close()"
  [draggable]="false"
   [resizable]="false"
  [height]="windowHeight"
  [top]="100"
  [width]="600" -->

<!-- <lgc-commondialog

>
  <div *ngIf="!isAuthorized" class="password-container">
    <h3>Autenticazione</h3>
    <label>
      Inserisci la password:
      <lgc-commonformitem id
        required
        [(Value)]="passwordInput"
        Placeholder="Password"
        [Type]="passwordVisibility ? 'text' : 'passwo rd'"
      >
      <button type="button" (mousedown)="togglePasswordVisibility($event)" (mouseup)="resetPasswordVisibility($event)">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </button>
      </lgc-commonformitem>
    </label>
    <lgc-commonbutton *ngIf="!isLoading"
      class="buttonSave"
      ButtonText="Conferma"
      ButtonSize="lg"
      Width="100%"
      ButtonType="newLogica color2"
      [Is_Loading]="isLoading"
      (click)="checkPassword()"
    ></lgc-commonbutton>
  </div>

  <div *ngIf="isAuthorized">
    <fieldset>
      <legend>Dettagli informazione</legend>

      <label class="k-form-field">
        <span>Chiave</span>
        <lgc-commonformitem Type="text" [(Value)]="key"></lgc-commonformitem>
      </label>
      <label class="k-form-field">
          <span>Label</span>
          <lgc-commonformitem Type="text" [(Value)]="label"></lgc-commonformitem>
      </label>
      <label class="k-form-field">
          <span>ScopeLabel</span>
          <lgc-commonformitem Type="text" [(Value)]="scopeLabel"></lgc-commonformitem>
      </label>
      <label class="k-form-field">
        <span>ScopeKey</span>
        <lgc-commonformitem Type="text" [(Value)]="scopeKey"></lgc-commonformitem>
      </label>
      <label class="k-form-field">
        <span>Tipo</span>
        <lgc-commonformitem
          Type="dropdown"
          [AcceptedValues]="typeOptions"
          [(Value)]="type"
          (ValueChange)="onTypeChange($event)">
        </lgc-commonformitem>
      </label>
      <label class="k-form-field">
        <span>ReadOnly</span>
        <lgc-commonformitem Type="bool" [(Value)]="readOnly"></lgc-commonformitem>
      </label>
      <label class="k-form-field">
        <span>Script</span>
        <lgc-commonformitem Type="textarea" [(Value)]="script" placeholder=""></lgc-commonformitem>
      </label>
      <label class="k-form-field">
        <span>Regex</span>
        <lgc-commonformitem Type="text" [(Value)]="regex"></lgc-commonformitem>
      </label>
    </fieldset>

    <div class="k-actions k-actions-end">
      <lgc-commonbutton
      class="buttonSave"
      (click)="submit()"
      ButtonText="Aggiungi"
      ButtonSize="lg"
      ButtonClassIcon="save"
      ButtonType="newLogica color2"></lgc-commonbutton>
    </div>
  </div>
</lgc-commondialog> -->

<ng-template commonDialog></ng-template>

<!-- <lgc-sidebarnew></lgc-sidebarnew> -->

<kendo-grid
  [data]="gridData"
  [height]="800"
  [scrollable]="true"
  [sortable]="true"
  [sort]="sort"
  (sortChange)="sortChange($event)"
>
  <kendo-grid-column field="id" title="Id" *ngIf="this.debugService.debugMode"></kendo-grid-column>
  <kendo-grid-column field="key" title="Chiave"></kendo-grid-column>
  <kendo-grid-column field="label" title="Nome" [sortable]="true"></kendo-grid-column>
  <kendo-grid-column field="scopeLabel" title="Categoria"></kendo-grid-column>
  <kendo-grid-column field="readOnly" title="readOnly" *ngIf="this.debugService.debugMode"></kendo-grid-column>
</kendo-grid>




