<lgc-loading *ngIf="isLoading"></lgc-loading>

<legend class="k-form-legend">Dettagli cliente</legend>

<div id="firstDiv" class="form-container">

  <div>
    <lgc-commonformitem
      Type="label" Value="Nome">
    </lgc-commonformitem>
    <lgc-commonformitem *ngIf="!isLoading"
      Type="text" [(Value)]="this.customer.user.username">
    </lgc-commonformitem>
  </div>

  <div>
    <lgc-commonformitem
      Type="label" Value="Partita IVA">
    </lgc-commonformitem>
    <lgc-commonformitem *ngIf="!isLoading"
      Type="text" [(Value)]="this.customer.partitaIva" (ValueChange)="checkIVA()">
    </lgc-commonformitem>
  </div>

</div>

<div id="secondDiv">

  <lgc-commonformitem
      Type="label" Value="Descrizione">
  </lgc-commonformitem>
  <lgc-commonformitem *ngIf="!isLoading"
   Type="textarea" [(Value)]="this.customer.descrizione">
  </lgc-commonformitem>


    <lgc-commonformitem
      Type="label" Value="Note">
    </lgc-commonformitem>
    <lgc-commonformitem *ngIf="!isLoading"
      Type="textarea" [(Value)]="this.customer.note">
    </lgc-commonformitem>
</div>


<!-- <lgc-commonbutton *ngIf="!isLoading"
class="buttonSave"
ButtonText="Save"
ButtonClassIcon="save"
ButtonSize="lg"
Width="100%"
ButtonType="newLogica color2"
[Is_Loading]="isLoading"
(click)="salva()"
></lgc-commonbutton> -->



