

<div style="display: flex; flex-direction: column; align-items: center; gap: 50px; margin-top: 20px;">
  <div>
    <span>USERNAME</span>
  <lgc-commonformitem [Type]="'text'" [(Value)]="user" id="user"></lgc-commonformitem>
  </div>
  <div>
    <span>PASSWORD</span>
    <lgc-commonformitem [Type]="'text'" [(Value)]="password"></lgc-commonformitem>
  </div>
  <lgc-commonbutton [ButtonText]="'INVIA'" [ButtonSize]="'btn btn-primary btn-sm'" (ButtonAction)="confronta()" [Is_Loading]="true" ></lgc-commonbutton>
</div>
<div>{{conf_all}}   </div>




