<div class="w-100 d-flex align-items-center justify-content-start mb-1">
  <span class="header-title">Programmi</span>
</div>
<kendo-grid [data]="licenseType0" [scrollable]="true" style="height: 90%;">
  <kendo-grid-column field="type" title="Type" [sortable]="true" [hidden]="true"></kendo-grid-column>
  <kendo-grid-column field="enabled" title="" [width]="60" >
    <ng-template kendoGridCellTemplate let-dataItem>
      <lgc-commonformitem Type="boolean" [Value]="dataItem.enabled" (ValueChange)="setEnabled(dataItem, $event)" ></lgc-commonformitem>
      <!-- <input type="checkbox"   [(checked)]="dataItem.enabled"> -->
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="name" title="Name" [width]="260"></kendo-grid-column>
  <kendo-grid-column field="nr" title="Nr" [width]="140">
    <ng-template kendoGridCellTemplate let-dataItem>
      <lgc-commonformitem *ngIf="dataItem.manageNr" Type="int" [(Value)]="dataItem.nr" [Disabled]="true"></lgc-commonformitem>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="expiryDate" title="Expiry Date" [format]="'{YYYY-MM-DDHHMMSS}'">
    <ng-template kendoGridHeaderTemplate>
      <span><b>Expiry Date</b></span>
      <lgc-commonbutton *ngIf="!isLoading"
        ButtonText="Imposta date"
        Width="90%"
        ButtonType="newLogica color2 buttonSalvaDate"
        [Is_Loading]="isLoading"
        (ButtonAction)="open()"
      ></lgc-commonbutton>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <lgc-commonformitem
      Type="datepicker" [(Value)]="dataItem.expiryDate">
     </lgc-commonformitem>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

<kendo-window
      title="Modifica tutte le date"
      *ngIf="opened"
      (close)="close()"
      [minWidth]="250"
      [width]="450"
      [top]="200"
      [left]="220"
      [draggable]="false"
    >
      <form class="k-form">
        <fieldset>
          <label class="k-form-field">
              <lgc-commonformitem
                Type='label'
                class="k-display-block"
                Value="Inserire data:"
              ></lgc-commonformitem>
              <lgc-commonformitem
                Type="datepicker"
                [(Value)]="value"
              ></lgc-commonformitem>
          </label>
        </fieldset>
        <div class="k-actions k-actions-end">
          <lgc-commonbutton (ButtonAction)="close()" ButtonText="{{'Cancel'}}"></lgc-commonbutton>
          <lgc-commonbutton id="buttonSalvaDate"
            (ButtonAction)="salvaDate()"
            ButtonText="{{'Salva'}}"
          >
          </lgc-commonbutton>
        </div>
      </form>
    </kendo-window>
<!-- <div *ngFor="let item of licenseType0">{{item.expiryDate}}</div> -->
