html,
body,
my-app {
  padding: 0;
  height: 100%;
}

my-app {
  display: flex;
  flex-direction: column;
}
kendo-drawer-container {
  flex: 1 1 auto;
  overflow-y: auto;
  height: calc(100vh - 50px); // Subtract the height of the custom-toolbar from the viewport height
}
kendo-drawer{
  height: auto;
}
.k-icon {
  font-size: 20px;
}
.custom-toolbar {
  width: 100%;
  background-color: #f6f6f6;
  line-height: 40px;
  border-bottom: inset;
  border-bottom-width: 1px;
  padding: 3px 8px;
  color: #656565;
  text-align: center;
  position: relative;
}
.custom-toolbar button{
    position: absolute;
    left: 5px;
}
.title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 17px;
}
kendo-drawer-container >div:nth-of-type(1){
  height:100%;
  display:flex;
  flex-direction: column;
  gap: 100px;
  justify-content:space-between;
  padding-bottom: 50px;
}
kendo-drawer-container >div:nth-of-type(1)>div{
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
}
#logo{
  height: 80px;
  width: 80px;
  background-image: url("../../assets/images/logicaLogo2.svg");
  background-size: cover;
}
#name{
  height: 28px;
  width: 60%;
  background-image: url("../../assets/images/logicaName.png");
  background-size: cover;
}
