.container2 {
  display: flex;
  flex-direction: column;
  height: 96%;
  align-items: center;
  justify-content: start;
}


.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  height: 85%;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}
.detailHeader{
  // margin-top:10px;
  padding:10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  width: 39%;
  flex-wrap: wrap;
  gap:40px;
  justify-content: center;
  // margin-left:20px;
  // margin-right:20px;
}

.first-row {
  display:flex;
  gap: 10px;
}
.second-row {
  display:flex;
  gap: 10px;
}

.programmi {
  flex: 2;
}

.funzioni {
  flex: 1;
}

.buttonSave {
  display: block;
}

.customer-info{
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  font-weight: bold;
}

.customer-info div{
  display: flex;
  flex-direction: column;
  width: 80%;
}
