<lgc-loading *ngIf="isLoading"></lgc-loading>

  <div class="customer-info" *ngIf="!isLoading" >
    <kendo-label text="Versione">
      <kendo-textbox
        [(value)]="this.gridDataLicence.version"
      ></kendo-textbox>
    </kendo-label>
    <kendo-label text="HDD Serial">
      <kendo-textbox
        [(value)]="this.gridDataLicence.hddSerial"
      ></kendo-textbox>
    </kendo-label>
    <kendo-label text="Data di scadenza">
      <kendo-textbox
        [(value)]="this.gridDataLicence.expiryDate"
      ></kendo-textbox>
    </kendo-label>
  </div>








<!-- <div *ngIf="!isLoading" class="detailHeader">
  <div class="first-row">
    <span><b>Versione</b>: {{ gridDataLicence.version }}</span>
    <span><b>HDD Serial</b>: {{ gridDataLicence.hddSerial }}</span>
  </div>
  <div class="second-row">
    <span><b>Proto Serial</b>: {{ gridDataLicence.protoSerial }}</span>
    <span><b>Data di scadenza</b>: {{ gridDataLicence.expiryDate }}</span>
  </div>
</div> -->




<!-- Componente delle LicenceItem con Type = 1 -->
<div class="container2">
<div class="container">


  <app-programs *ngIf="!isLoading" class="programmi" [licenseType0] = "licenceType0" style="height: 100%;"></app-programs>



  <app-functions *ngIf="!isLoading" class="funzioni" [licenseType1] = "licenceType1" style="height: 100%;"></app-functions>


</div>
<lgc-commonbutton *ngIf="!isLoading"
  class="buttonSave"
  ButtonText="Save"
  ButtonClassIcon="save"
  ButtonSize="lg"
  Width="100%"
  ButtonType="newLogica color2"
  [Is_Loading]="isLoading"
  (click)="salva()"
></lgc-commonbutton>
</div>
