<div id="bottoneAggiungi">
  <lgc-commonbutton
    ButtonType="newLogica"
    (click)="open()"
    ButtonText="Aggiungi Cliente" ButtonSize="lg">
  </lgc-commonbutton>
</div>

<kendo-window
title="Inserire dati del cliente"
*ngIf="opened"
(close)="close()"
[draggable]="false"
[resizable]="false"
[height]="300"
[width]="500"
>
  <fieldset>
    <legend>Dettagli Cliente</legend>

    <label class="k-form-field">
      <span>Nome Cliente</span>
      <lgc-commonformitem [(Value)]="username"></lgc-commonformitem>
    </label>
    <label class="k-form-field">
      <span>Password</span>
      <lgc-commonformitem [(Value)]="password"></lgc-commonformitem>
    </label>
  </fieldset>

  <div class="k-actions k-actions-end">
    <lgc-commonbutton
      class="buttonSave"
      (click)="submit()"
      ButtonText="Aggiungi"
      ButtonSize="lg"
      ButtonClassIcon="save"
      ButtonType="newLogica color2"></lgc-commonbutton>
  </div>
</kendo-window>

<!-- <lgc-sidebarnew></lgc-sidebarnew> -->

<kendo-grid
  [data]="gridData"
  [height]="800"
  [scrollable]="true"
  [sortable]="true"
  [sort]="sort"
  (sortChange)="sortChange($event)"
>
  <kendo-grid-column field="userId" title="User ID" *ngIf="this.debugService.debugMode"></kendo-grid-column>
  <kendo-grid-column field="user.username" title="Name" [sortable]="true"></kendo-grid-column>
  <kendo-grid-column field="privateCode" title="Private code"></kendo-grid-column>
  <kendo-grid-column field="licenceId" title="Licence ID" *ngIf="this.debugService.debugMode"></kendo-grid-column>
  <kendo-grid-column title="Mostra dettagli licenza" class="temp">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div style="display: flex; justify-content: center;">
        <lgc-commonbutton *ngIf="!isLoading"
          class="buttonSave"
          ButtonText="Dettagli"
          ButtonSize="lg"
          Width="100%"
          ButtonType="newLogica color2"
          [Is_Loading]="isLoading"
          (click)="onShowDetails(dataItem.id, dataItem.name)"
        ></lgc-commonbutton>
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>



<!-- <app-home-detail [gridDataLicence]="gridData[0].licence"></app-home-detail> -->








  <!-- </kendo-grid-late kendoGridDetailTemplate let-dataItem>
    <app-home-detail [gridData]="dataItem.licence"></app-home-detail>
     <lgc-debug-json [data]="dataItem.licence" [enabled]="true">
    </lgc-debug-json>
  </ng-template> -->

