

<!-- <lgc-sidebarnew></lgc-sidebarnew> -->

<kendo-grid [data]="gridData">
  <kendo-grid-column field="userId" title="User ID"></kendo-grid-column>
  <kendo-grid-column field="name" title="Name"></kendo-grid-column>
  <kendo-grid-column field="privateCode" title="Private code"></kendo-grid-column>
  <kendo-grid-column field="licenceId" title="Licence ID"></kendo-grid-column>


  <ng-template kendoGridDetailTemplate let-dataItem>
    <app-home-detail [gridData]="dataItem.licence"></app-home-detail>
    <!-- <lgc-debug-json [data]="dataItem.licence" [enabled]="true">
    </lgc-debug-json> -->
  </ng-template>


</kendo-grid>
