<!-- <lgc-debug-json [data]="scopeData" [enabled]="true"></lgc-debug-json> -->


<kendo-grid [data]="scopeData">
  <kendo-grid-column field="id" title="ID" [sortable]="true" *ngIf="this.debugService.debugMode"></kendo-grid-column>
  <kendo-grid-column field="label (key)" title="Nome (Chiave)">
    <ng-template kendoGridCellTemplate let-scopeData>
        {{scopeData.label}} ({{scopeData.key}})
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="value" title="Versione">
    <ng-template kendoGridCellTemplate let-scopeData>
      <!-- Visualizza input solo se readOnly è false -->
      <ng-container *ngIf="scopeData.type == 1">
        <lgc-commonformitem Type="text" [(Value)]="scopeData.value" [Readonly]="scopeData.readOnly"></lgc-commonformitem>
      </ng-container>
      <ng-container *ngIf="scopeData.type == 0">
        <lgc-commonformitem
        [Readonly]="scopeData.readOnly"
          Type="int"
          [Value]="getNumber(scopeData.value)"
          (ValueChange)="setNumber(scopeData, $event)">
        </lgc-commonformitem>
      </ng-container>
      <ng-container *ngIf="scopeData.type == 2">
        <lgc-commonformitem Type="bool" [Value]="scopeData.value == 1 ? true:false" (ValueChange)="setBoolean(scopeData, $event)" [Readonly]="scopeData.readOnly" ></lgc-commonformitem>
      </ng-container>
  </ng-template>
  </kendo-grid-column>
  <kendo-grid-column title="Data aggiornamento">
    <ng-template kendoGridCellTemplate let-scopeData>
      {{ scopeData.updatedComputed ? (scopeData.updatedComputed | lgc_date) : 'N.D.' }}
    </ng-template>
  </kendo-grid-column>

</kendo-grid>
