/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";

@import "../../lgcsolution/projects/lgccommon/src/styles.scss";


@import "../../dataprod20-ng/src/theme/theme-variables";

@import "../../dataprod20-ng/src/theme/colors.scss";
@import "../../dataprod20-ng/src/theme/labels.scss";
@import "../../dataprod20-ng/src/theme/font-applyer.scss";
@import "../../dataprod20-ng/src/theme/lgccard.scss";


@import "../../dataprod20-ng/src/theme/kendooverride.scss";
@import "../../dataprod20-ng/src/theme/font.scss";
@import "../../dataprod20-ng/src/theme/grid.scss";
@import "../../dataprod20-ng/src/theme/dialog.scss";


@import "../../dataprod20-ng/src/theme/theme";


.k-drawer-item.k-selected {
  color: white;
  background-color: #ff7d08 !important;
}
.k-drawer-item.k-selected:hover, .k-drawer-item.k-selected.k-hover {
  color: white;
  background-color: #ff7d08 !important;
}
input[type="checkbox"]:checked{
  background-color: #ff7d08 !important;
}
